Cores/**/*.libretro.framework/** filter=lfs diff=lfs merge=lfs -text
Cores/Citra.framework/** filter=lfs diff=lfs merge=lfs -text
ManicEmu/ManicEmu/Resources/System.core filter=lfs diff=lfs merge=lfs -text
