# Binary assets are vendored directly so fork builds do not depend on Git LFS.
Cores/**/*.libretro.framework/** -diff -text
Cores/Citra.framework/** -diff -text
System.core/**/*.manicskin -diff -text
System.core/**/*.wasm -diff -text
System.core/**/*.db -diff -text
System.core/**/*.pgf -diff -text
System.core/**/*.7z -diff -text
System.core/Libretro/system/fbneo/cheats/cheat.dat -diff -text
System.core/Libretro/system/fbneo/cheats/cheatsnes.dat -diff -text
System.core/Libretro/system/fbneo/cheats/wayder_cheat.dat -diff -text
System.core/Libretro/system/PPSSPP/vfpu/vfpu_log2_lut.dat -diff -text
System.core/j2mejs/java/classes.jar -diff -text
System.core/shared_font.bin -diff -text
