Cores/**/*.libretro.framework/** filter=lfs diff=lfs merge=lfs -text
Cores/Citra.framework/** filter=lfs diff=lfs merge=lfs -text
System.core/**/*.manicskin filter=lfs diff=lfs merge=lfs -text
System.core/**/*.wasm filter=lfs diff=lfs merge=lfs -text
System.core/**/*.db filter=lfs diff=lfs merge=lfs -text
System.core/**/*.pgf filter=lfs diff=lfs merge=lfs -text
System.core/**/*.7z filter=lfs diff=lfs merge=lfs -text
System.core/Libretro/system/fbneo/cheats/cheat.dat filter=lfs diff=lfs merge=lfs -text
System.core/Libretro/system/fbneo/cheats/cheatsnes.dat filter=lfs diff=lfs merge=lfs -text
System.core/Libretro/system/fbneo/cheats/wayder_cheat.dat filter=lfs diff=lfs merge=lfs -text
System.core/Libretro/system/PPSSPP/vfpu/vfpu_log2_lut.dat filter=lfs diff=lfs merge=lfs -text
System.core/j2mejs/java/classes.jar filter=lfs diff=lfs merge=lfs -text
System.core/shared_font.bin filter=lfs diff=lfs merge=lfs -text
